{% extends 'dashboard_base.html' %}
{% block head %}


{% endblock %}
{% block dashboard %}
<!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-md-6 mx-auto  mt-md-5">
            <div class="card ">
                <div class="card-header">
                    <h1>My Detail</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>User ID</th>
                                    <td>{{user.id}}</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <td>{{user.first_name}} {{user.last_name}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <th>Last Login</th>
                                    <td>{{user.last_login}}</td>
                                </tr>
                                <tr>
                                    <th>Join Date</th>
                                    <td>{{user.date_joined}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
<!-- </div> -->
            
        
{% endblock %}