{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    @media only screen and (max-width: 768px) {
    .banner13{
      display: none;
  }
  }
</style>
{% endblock %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0 mt-5 mb-0">
            <!-- <div style="background: url('/static/images/res.jpg'); background-size: 100% 100%;" class="h-100"></div> -->
            <img src="{% static 'images/reg.jpg'%}" alt="" class="w-100 h-100">
        </div>
        <div class="col-md-6 bg-light mt-md-5">
            <h1 class="alert alert-success text-center banner13">Sign Up Here</h1>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name ...." name="first" required>
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name ...." name="last" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <small id="result"></small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Username</label>
                            <input type="text" class="form-control" placeholder="Enter Username" name="uname"
                                id="username" onkeyup="checkuser()" required>
                        </div>
                        <div class="col-md-6">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password"
                                required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="">Contact Number</label>
                            <input type="number" class="form-control" placeholder="Enter Contact Number" name="contact"
                                id="contact" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea name="address" id="" cols="10" rows="3" placeholder="Enter Address"
                        class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="">User Type</label>
                    <select name="utype" class="form-control" required>
                        <option value="cust">I am Customer</option>
                        <option value="sell">I am Seller</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-success" id="submitbtn">
                </div>
            </form>

        </div>
    </div>

</div>

<script>
    function checkuser() {
        let un = document.getElementById("username").value;
        $.ajax({
            url: "{% url 'check_user' %}",
            type: "get",
            data: { usern: un },
            success: function (data) {
                if (data == "Exists") {
                    $("#result").html("This username already taken").addClass("text-danger");
                    $("#username").addClass("alert alert-danger");
                    $("#submitbtn").attr("disabled", "disabled")
                }
                else {
                    $("#result").html("");
                    $("#username").removeClass("alert alert-danger");
                    $("#submitbtn").removeAttr("disabled");
                }
            }
        })

    }
</script>
{% if status %}
<script>
    alert("{{status}}")

</script>

{% endif %}

{% endblock %}